{% extends 'blogapp/base.html' %}

{% block content %}
<div class="container">
    <h1>Sobre Mim</h1>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Kellyson</h2>
            <p><strong>Fullstack Developer</strong></p>
            <hr>

            <h3>Skills</h3>
            <ul class="list-inline">
                <li class="list-inline-item badge badge-primary">Python</li>
                <li class="list-inline-item badge badge-primary">HTML5</li>
                <li class="list-inline-item badge badge-primary">CSS3</li>
                <li class="list-inline-item badge badge-primary">JavaScript</li>
                <li class="list-inline-item badge badge-primary">PHP</li>
                <li class="list-inline-item badge badge-primary">SQL</li>
            </ul>
            <hr>

            <h3>Ferramentas e Tecnologias</h3>
            <p><strong>IDEs:</strong> Visual Studio Code, Project IDX</p>
            <p><strong>Controle de Versão:</strong> Git, GitHub</p>
            <p><strong>Bancos de Dados:</strong> MySQL, phpMyAdmin</p>
            <hr>

            <h3>Educação</h3>
            <p><strong>IFRN Pau dos Ferros - 4º Ano</strong></p>
            <p>Curso Técnico Integrado em Informática</p>
            <hr>

            <h3>Projetos</h3>
            <ul>
                <li><a href="https://estagiopaudosferros.com/site/" target="_blank">Estágio Pau dos Ferros</a></li>
                <li><a href="https://protocolosead.com/protocolo/" target="_blank">Protocolo SEAD</a></li>
                <li><a href="https://paudosferros360graus.com.br/Plano_Governo/" target="_blank">Pau dos Ferros 360 Graus</a></li>
                <li><a href="https://demutran.protocolosead.com/" target="_blank">Demutran (pausado)</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
